/* styles/25-style.css */
body {
  background-color: var(--color-light-grey);
  font-family: var(--font-family-main);
  font-size: var(--font-size-medium);
  color: var(--text-color);
}

a {
  color: var(--color-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
}

p {
  margin-bottom: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
}
